* {
    font-family: Arial;
    border: 1px solid black;
}

body {
    background-color: #e7b389;
}

.container {
    display: grid;
    grid-template: 100px 100px 100px / 100px 100px 100px 100px 100px;
    grid-template-areas: 
        "form form img-main img-main img-main"
        "form form img-main img-main img-main"
        "form form img-1 img-2 img-3";
}

.container_form {
    grid-area: form;
}

.container_img-main {
    grid-area: img-main;
}

#img-1 {
    grid-area: img-1;
}

#img-2 {
    grid-area: img-2;
}

#img-3 {
    grid-area: img-3;
}
